<section id="certificacoes" class="section card">
  <div class="content-container">
    <h2>Certificações</h2>
    <div class="certificados-container">

      <div class="certificado-item">
        <h3>Programa de Formação em Ciência de Dados – Alura (em andamento)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/aluno_alura_data_science.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Introdução à Ciência de Dados – FGV (60h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/certificado_fgv_ciencia_dados_60h.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Fundamentos de Tecnologia – Escola da Nuvem (16h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/fundamentos_tecnologia_escola_nuvem.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Escola de Inovadores – 2024.2 – INOVA CPS (40h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/escola_inovadores_2024_2.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Aprender a Aprender – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/aprender_autodesenvolvimento_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>ChatGPT: Otimizando Resultados – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/chatgpt_resultados_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Foco: Resultados no Dia a Dia – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/foco_resultados_dia_a_dia_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Git e GitHub: Colaboração em Projetos – Alura (6h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/git_github_colaboracao_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Hábitos e Produtividade – Alura (6h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/habitos_produtividade_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>HTML & CSS: Responsividade e Deploy – Alura (6h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/html_css_responsivo_publicacao_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>HTML e CSS: Ambiente de Desenvolvimento, Estrutura e Tags – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/html_css_ambientes_estrutura_tags_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>HTML e CSS: Cabeçalho, Footer e Variáveis – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/html_css_cabecalho_footer_variaveis_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>HTML e CSS: Classes, Posicionamento e Flexbox – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/html_css_classes_flexbox_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>LinkedIn: Perfil Profissional Estratégico – Alura (4h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/linkedin_perfil_estrategico_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Lógica de Programação: Funções e Listas – Alura (6h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/logica_funcoes_listas_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Lógica de Programação: Mergulhe em JavaScript – Alura (6h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/logica_mergulhe_javascript_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Praticando Lógica: Desafio Amigo Secreto – Alura (8h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/logica_challenge_amigo_secreto_alura.pdf">Ver Certificado</button>
      </div>

      <div class="certificado-item">
        <h3>Seminário ITA: Projeto Conceitual de Satélite – ITA (4h)</h3>
        <button onclick="openModal(this.dataset.src)" data-src="/certificados/certificado_spocs_ita.png">Ver Certificado</button>
      </div>

    </div>
  </div>

  <!-- modal para imagem e pdf -->
  <div id="modal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <iframe id="modal-frame" class="modal-content" frameborder="0" style="display: none;"></iframe>
    <img id="modal-img" class="modal-content" style="display: none;" />
  </div>
  
</section>
