<!-- Seção Currículo -->
<section id="curriculo" class="section card">
    <div class="content-container">
      <h2>Currículo</h2>
      <article>
        <h3>Formação Acadêmica</h3>
        <p><strong>FATEC-SJC</strong> – Desenvolvimento de Software Multiplataforma, 2024 - até o momento.</p>
        <p><strong>Universidade Federal de Mato Grosso</strong> – Bacharelado em Música - habilitação em Regência, 2015 a 2021.</p>
      </article>
    </div>
</section>