<!-- Seção Habilidades -->
<section id="habilidades" class="section card">
    <div class="content-container">
      <h2>Habilidades</h2>
      <div class="content">
        <div>
          <h3>Habilidades Técnicas (Hard Skills)</h3>
          <ul>
            <li>
              Linguagens de Programação: HTML, CSS, JavaScript, Python, TypeScript.
              <div class="tech-icons">
               <img src="/img/html.png" alt="HTML">
               <img src="/img/css.png" alt="CSS">
               <img src="/img/js.png" alt="JavaScript">
               <img src="/img/python.png" alt="Python">
               <img src="/img/typescript-icon.svg" alt="TypeScript">
               </div>
            </li>
            <li>
              Frameworks e Ferramentas Back-end: Flask, FastAPI, SQLAlchemy.
              <div class="tech-icons">
               <img src="/img/flask.png" alt="Flask">
               <img src="/img/fastapi.png" alt="FastAPI">
               <img src="/img/sqlalchemy.png" alt="SQLAlchemy">
              </div>
            </li>
            <li>
              Banco de Dados: MySQL, PostgreSQL, SQL.
              <div class="tech-icons">
                <img src="/img/mysql.svg" alt="MySQL">
                <img src="/img/postgresql.svg" alt="PostgreSQL">
                <img src="/img/sql.png" alt="SQL">
                
            </li>
            <li>
              Ferramentas de Modelagem de Dados: Vertabelo.
              <div class="tech-icons">
                <img src="/img/vertabelo.png" alt="Vertabelo">
              </div>
            </li>
            <li>
              Ferramentas de Deploy: AWS e Contêineres: Docker.
              <div class="tech-icons">
                <img src="/img/docker.svg" alt="Docker">
                <img src="/img/aws.webp" alt="AWS">
              </div>
            </li>
            <li>
              Ferramentas de Trabalho: Jira, Discord, Windows, VS Code, Git, GitHub, Figma.
              <div class="tech-icons">
                <img src="/img/jira.png" alt="Jira">
                <img src="/img/Discord.svg" alt="Discord">
                <img src="/img/windows.png" alt="Windows">
                <img src="/img/vscode.png" alt="VS Code">
                <img src="/img/git.png" alt="Git">
                <img src="/img/github.png" alt="GitHub">
                <img src="/img/figma.png" alt="Figma">
              </div>
            </li>
          </ul>
        </div>
        <div>
          <h3>Habilidades Interpessoais (Soft Skills)</h3>
          <ul class="softskills">
            <li><strong>Liderança de Projeto:</strong> Atuação como PO e Scrum Master.</li>
            <li><strong>Comunicação: </strong>Clareza e colaboração.</li>
            <li><strong>Resolução de Problemas:</strong> Abordagem analítica.</li>
            <li><strong>Trabalho em Equipe:</strong> Experiência em times multidisciplinares.</li>
            <li><strong>Autogerenciamento: </strong>Organização e prazos.</li>
            <li><strong>Autonomia</strong> na resolução de tarefas.</li>
          </ul>
        </div>
      </div>
    </div>
</section>