<div class="sidebar-menu">
    <nav class="menu">
      <a href="#sobre-mim">Sobre Mim</a>
      <a href="#curriculo">Currículo</a>
      <a href="#projetos">Projetos</a>
      <a href="#habilidades">Habilidades</a>
      <a href="#certificacoes">Certificações</a>
      <a href="#contato">Contato</a>
    </nav>
</div>
  