<section id="sobre-mim" class="section destaque">
    <div class="content-container">
      <div class="content">
        <img src="/img/foto-me.jpg" alt="Foto de Emanuelle Oliveira" class="foto">
        <div>
          <h2>Emanuelle Oliveira</h2>
          <p>
            Sou estudante de Desenvolvimento de Software Multiplataforma na FATEC São José dos Campos, com foco em Arquitetura de Dados. Tenho interesse especial em resolver problemas complexos por meio da análise e organização de dados, extraindo informações relevantes e projetando soluções técnicas estruturadas.
            </p>
            
            <p>
            Tenho afinidade com a modelagem de banco de dados e com a arquitetura da informação, desde a estruturação conceitual até a implementação física. Valorizo especialmente processos de otimização de desempenho, automação de tarefas e organização de sistemas que sustentem tanto operações simples quanto necessidades corporativas complexas.
            </p>
            
            <p>
            Busco constantemente aprimorar minhas habilidades com SQL, ferramentas de versionamento, pipelines de dados e estruturação de repositórios robustos. Acredito que dados bem modelados são a base para decisões eficientes, escaláveis e sustentáveis.
            </p>
            
            <p>
            Além das competências técnicas, valorizo o trabalho em equipes colaborativas, com boa comunicação, autonomia e responsabilidade compartilhada. Tenho facilidade para assumir posições de liderança, conduzindo times com clareza, empatia e compromisso com os objetivos do projeto.
            </p>
            
            <p>
            Meu objetivo profissional é atuar como Arquiteta de Dados, com experiência internacional. Quero construir soluções sólidas, sustentáveis e baseadas em dados, contribuindo com projetos de alto impacto e ambientes que valorizem integridade, excelência e transparência.
            </p>
            
        </div>
      </div>
    </div>
</section>